// Font Import
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

.intro {
  height: 1080px;
  display: flex;
  flex-direction: column;
  font-family: "Creepster", cursive;
  background: #00cd5f;
  padding-top: 4rem;
  .mint-button {
    background-color: #ff6868;
    align-self: flex-end;
  }

  // Intro content wrapper
  .intro-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 5rem;

    // Left side content
    .left-content {
      text-align: left;
      margin-top: 6rem;
      width: 25vw;
      .text-wrapper {
        margin-bottom: 2rem;
        p {
          width: 600px;
        }
        span {
          color: #ff6868;
        }
      }
      .mint-wrapper {
        display: flex;
        align-items: center;
        .mint-button {
          background-color: #c268ff !important;
          align-self: flex-end;
        }
        h5 {
          display: flex;
          align-self: center;
        }
      }
      .metamask-address {
        display: flex;
        justify-content: center;
        color: #ff6868;
        font-weight: 300 !important;
        letter-spacing: 2px;
        span {
          color: #ff6868 !important;
        }
      }
    }
  }

  .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .lion-logo {
      height: 650px;
      svg {
        height: 650px;
        width: 650px;
        animation: floatAnim 4s ease-in-out infinite;
      }
    }
    .mint-button {
      align-self: center;
      z-index: 10;
    }
  }
}

p {
  color: #c268ff;

  line-height: 28px;
  letter-spacing: 1.5px;
  font-size: 18px;
}
@keyframes floatAnim {
  0% {
    transform: translate(0px, 20px);
  }
  50% {
    transform: translate(0px, 35px);
  }
  100% {
    transform: translate(0px, 20px);
  }
}
