// Font Import
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

.intro {
  height: 1080px;
  display: flex;
  flex-direction: column;
  font-family: "Creepster", cursive;
  background: #00ff77;
  .top-intro {
    padding-top: 1rem;
  }
  .mint-button {
    background-color: #ff8181;
    align-self: flex-end;
  }

  // Intro content wrapper
  .intro-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 5rem;

    // Left side content
    .left-content {
      text-align: left;
      margin-top: 6rem;
      width: 600px;
      .text-wrapper {
        margin-bottom: 2rem;
        p {
          width: 600px;
        }
        span {
          color: #ff8181;
        }
      }
      .mint-wrapper {
        display: flex;
        align-items: center;
        .mint-button {
          background-color: #c268ff !important;
          align-self: flex-end;
        }
        h5 {
          display: flex;
          align-self: center;
        }
      }
      .metamask-address {
        display: flex;
        justify-content: center;
        color: #ff8181;
        font-weight: 300 !important;
        letter-spacing: 2px;
        span {
          color: #ff8181 !important;
        }
      }
    }
  }

  .lion-logo {
    display: flex;
    justify-content: center;
    svg {
      height: auto;
      width: 700px;
      animation: floatAnim 4s ease-in-out infinite;
    }
  }
}

p {
  color: #c268ff;
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 18px;
}
@keyframes floatAnim {
  0% {
    transform: translate(0px, 20px);
  }
  50% {
    transform: translate(0px, 50px);
  }
  100% {
    transform: translate(0px, 20px);
  }
}
