.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
}

.pop-up-wrapper {
  a {
    text-decoration: none;
    color: #ff6868;
  }
}
