// Colors Init
$green-title: #00ff77;
$purple: #c268ff;

// Font Import
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

// General Sizing
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  section {
    display: flex;
    font-size: 24px;
    text-align: center;
  }
}

h1 {
  color: #c268ff;
  font-weight: 600;
  font-size: 10vh;
  letter-spacing: 6px;
  text-shadow: -1px -1px 0px #00ff77, 3px 3px 0px #00ff77, 6px 6px 0px #00ff77,
    9px 9px 9px #c268ff;
  font-family: "Creepster", cursive;
}

h3 {
  font-size: 6vh;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #c268ff;
  text-shadow: -1px -1px 0px #00ff77, 1px 1px 0px #00ff77, 2px 2px 0px #00ff77,
    3px 3px 3px #c268ff;
  margin-bottom: 1rem;
  font-family: "Creepster", cursive;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  background-color: #ff8181;
  font-family: "Creepster", cursive;
  color: #c268ff;
  letter-spacing: 1px;
}
